<div class="m-5">
    <h1>Vista de HOME</h1>
    <p>
        Mi intención es crear un proyecto ficticio en el que tenemos varias páginas
        en la web. En este proyecto accedemos a base de datos para obtener cualquier
        dato de cualquier tabla, también podemos interactuar con ella creando, borrando
        o modificando datos, etc.
    </p>
    <p>
        Tenemos los Controllers con sus Vistas, tenemos también Models para los objetos
        que vamos a utilizar, y Data con los Context para cada tipo de comunicación
        con la base de datos.
    </p>
    @* Descarga de documentos con las tablas, los datos, etc. *@
</div>
@section panel {
    <div class="m-5">
        <h1>Vista de HOME</h1>
    </div>
}