<div class="bg-light p-5 rounded">
    <h1>Proyecto desde 0 - Naza</h1>
    <h3>BBDD: Hospital</h3>
    <p class="lead">
        Proyecto de Net Core con C# con el que vamos a acceder
        a la base de datos "Hospital" para poder obtener todos los datos.
    </p>
</div>
@section panel {
    <div class="m-5">
        <h1>Vista de INDEX</h1>
    </div>
}